@import "../../../theme.less";

h1, h2 {
    color: @text-color;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 900;
    .fluid-font(2.5, 300, 320, 3840);
}

h2 {
    font-weight: 700;
    .fluid-font(1.5, 150, 320, 3840);
}