@import "../../../../theme.less";

.uk-card, .uk-card-header, .uk-card-body {
    background-color: lighten(@dark-background, 3%);
}

.uk-card-header {
    h3, p {
        color: @text-color;
        font-family: 'Lato', sans-serif;
    }

    h3 {
        font-weight: 700;
        .fluid-font(1.2, 25, 320, 3840);
    }

    p {
        .fluid-font(1, 10, 320, 3840);
    }
}

.uk-card-body p {
    color: @text-color;
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 15, 320, 3840);
}

.uk-card-footer {
    a {
        width: 100%;
        height: 100%;
        margin: none;
        color: @brand-blue;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 15, 320, 3840);
    }
}

.uk-modal-dialog, .uk-modal-header, .uk-modal-footer {
    background-color: @dark-background;
    p {
        color: @text-color;
        font-family: 'Lato', sans-serif;
        .fluid-font(1, 8, 320, 3840);
    }

    h2.uk-modal-title {
        color: @brand-lighter;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.5, 30, 320, 3840);
    }
}

.uk-modal-header p.skill-tag {
    border-radius: .3em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 10, 320, 3840);
    color: @dark-background;
}

.uk-modal-footer {
    button {
        color: @dark-background;
        background-color: @brand-lighter;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 15, 320, 3840);
        padding-top: .3em;
        padding-bottom: .3em;
        border-radius: .2em;
    }
}

#job_delete_button {
    cursor: pointer;
}

#delete_spinner {
    color: @brand-red;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.uk-modal-body a.applicants {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 15, 320, 3840);
    text-decoration: none;
    color: @dark-background;
    background-color: @brand-blue;
    padding: .5em .2em .5em .2em;
    border-radius: .2em;
}

@media only screen and (min-width: 960px) {
    .uk-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 640px) {
    .uk-card-header .uk-width-expand {
        text-align: center;
    }
}