@import "../../../theme.less";

button {
    background-color: transparent;
}

.uk-navbar-container {
    background-color: fade(@dark-background, 70%) !important;
    backdrop-filter: blur(1em);
}

/* Logo style */
.uk-logo {
    color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.7, 15, 320, 3840);
}

.uk-logo:hover {
    color: @brand-color;
}

/* Navbar link style */
.uk-navbar-nav li a {
    color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 10, 320, 3840);
    position: relative;
    text-transform: none;
}

.uk-navbar-nav li a:hover, .uk-offcanvas-bar .uk-nav li a:hover {
    color: @brand-color;
}

/* Off-canvas navbar style */
.uk-offcanvas-bar {
    background-color: lighten(@dark-background, 1.5%);
}

button.uk-offcanvas-close, button.uk-offcanvas-close:hover {
    color: @brand-color;
}

.uk-offcanvas-bar .uk-nav li a {
    color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    .fluid-font(1.3, 10, 320, 3840);
    position: relative;
}

.uk-offcanvas-bar hr{
    border: 1px solid;
    color: @brand-green;
    border-top-color: @brand-green;
}

/* Fix for focused links */
.uk-navbar-nav li a.active:focus, .uk-offcanvas-bar .uk-nav li a.active:focus {
    color: @brand-color;
}

/* Link hovering effect */
.uk-navbar-nav li a::before, .uk-offcanvas-bar .uk-nav li a::before {
    position: absolute;
    content: "";
    background-color: @brand-color;
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .25s cubic-bezier(1,.25,0,.75);
}

.uk-navbar-nav li a:hover::before, .uk-offcanvas-bar .uk-nav li a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

/* Freezing effect in place when link becomes active */
.uk-navbar-nav li a.active, .uk-offcanvas-bar .uk-nav li a.active {
    color: @brand-color;
}
  
.uk-navbar-nav li a.active::before, .uk-offcanvas-bar .uk-nav li a.active::before {
    content: "";
    position: absolute;
    visibility: visible;
    width: 50%;
    height: 2px;
    background-color: @brand-color;
    bottom: 0;
    left: 25%;
    transform: scaleX(1);
}
