@import '../../../theme.less';

#profile_image {
    height: 256px;
    width: 256px;
    border-radius: 100%;
    object-fit: cover;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    .fluid-font(1.5, 50, 320, 3840);
    word-break: break-all;
    color: @text-color;
}

#edit-button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 25, 320, 3840);
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: @brand-blue;
    color: @dark-background;
    border-radius: .2em;
}

/* Modal styling */

.uk-modal-dialog {
    width: 80vw;
}

.uk-overlay {
    cursor: pointer;
}

#modal_profile {
    height: 128px;
    width: 128px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

#fs-name {
    width: 100%;

    input.uk-input {
        width: 95%;
        font-family: 'Lato', sans-serif;
        .fluid-font(1, 25, 320, 3840);
        color: @brand-lighter;
        background-color: lighten(@dark-background, 3%);
        border-radius: .2em;
        border-width: 2px;
        border-color: @brand-color;
    }

    label {
        font-family: 'Lato', sans-serif;
        .fluid-font(1, 10, 320, 3840);
        color: @brand-lighter;
    }
}

#save_spinner {
    display: none;
}

#save_button {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 25, 320, 3840);
    font-weight: 700;
    padding-top: .3em;
    padding-bottom: .3em;
    border-radius: .2em;
    background-color: @brand-blue;
    color: @dark-background;
}

@media only screen and(max-width: 332px) {
    .uk-overlay-primary {
        height: 90%;
        margin: auto 0;
    }
}

@media only screen and (min-width: 960px) {
    #profile_image {
        height: 384px;
        width: 384px;
    }

    #modal_profile {
        height: 256px;
        width: 256px;
    }
}

@media only screen and (max-width: 960px) {
    #fs-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        input.uk-input {
            margin-top: 10px;
            width: 80%;
        }
    }
}