<section id="account-details-section" class="uk-section uk-section-large uk-flex uk-flex-column uk-flex-middle uk-flex-center">

    <!-- Introductory section -->
    <div id="profile-intro" class="uk-text-center">
        <!-- Pofile picture stored on the blockchain -->
        <img id="profile-picture" class="uk-border-circle" src="../../../assets/AccountDetails/avatar.svg" alt="The profile picture of the user">
        <h2 id="profile-name">Alexandru Balan</h2>
        <h3 id="company-name">@InstrumentalityFoundation</h3>
        <button class="uk-button" type="button">Edit details <fa-icon [icon]="faPencilAlt"></fa-icon></button>
    </div>

    <tasks-section-comp></tasks-section-comp>

</section>