<!-- Front of card interface -->

<div class="uk-card uk-card-default" #front_card>

    <div class="uk-card-header uk-text-center">
        <h3>{{ card_title }}</h3>
    </div>

    <div class="uk-card-body uk-flex uk-flex-center">
        <img [src]="card_image" [alt]="card_image_description">
    </div>

    <div class="uk-card-footer uk-flex uk-flex-center">
        <button (click)="flipCard()" class="uk-button">{{ card_button }}</button>
    </div>

</div>

<!-- Back of card interface -->
<div class="uk-card uk-card-default uk-animation-scale-up" tabindex="0" id="back_card" #back_card>

    <div class="uk-card-header uk-text-center">
        <h3>{{ card_title }}</h3>
        <h4>{{ card_detail }}</h4>
    </div>

    <form>
        <div class="uk-card-body uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <ng-content select="[slot=back_card_body]"></ng-content>
        </div>

        <div class="uk-card-footer uk-flex uk-flex-center">
            <ng-content select="[slot=back_card_footer]"></ng-content>
            <button (click)="flipCard()" class="uk-button cancel-button" type="button">Cancel</button>
        </div>
    </form>

</div>