@import "../../../../theme.less";

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: @brand-lighter;
    .fluid-font(1.5, 30, 320, 3840);
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: @brand-lighter;
    .fluid-font(1.2, 25, 320, 3840);
}

img {
    object-fit: cover;
    height: 15vh;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: @dark-background;
    .fluid-font(1, 20, 320, 3840);
    width: 100%;
    height: 100%;
    text-transform: none;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .2em;
    background-color: @brand-green;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s ease-in-out;
}

.uk-card {
    background-color: lighten(@dark-background, 3%);
    border-radius: .2em;

    .uk-card-footer {
        padding: 0;
        border-radius: .2em;
    }
}

#back_card {
    display: none;

    .uk-card-footer {
        display: flex;
        justify-content: space-between;

        button.uk-button{
            width: 45%;
        }

        button.cancel-button {
            background-color: @brand-red;
        }

        .uk-icon {
            color: @brand-green;
            display: none;
        }
    }
}