<!-- Sticky component will keep the navbar on top -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <!-- Actual navbar -->
    <nav class="uk-navbar-container" uk-navbar>

        <!-- Center of the navbar -->
        <div class="uk-navbar-center">
            <a [routerLink]="['./']" class="uk-navbar-item uk-logo">
                <img src="../../../assets/instrumentality-new.svg" alt="The Instrumentality Logo" width="42px" height="42px">
            </a>
        </div>

        <!-- Right side of the screen -->
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a coreTokenDestroyer [routerLink]="['/']">
                        <fa-icon [icon]="faSignOutAlt" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>
                        Logout
                    </a>
                </li>
            </ul>
        </div>

    </nav>

</div>