<section class="uk-section uk-section-large uk-padding uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center">
    <img [src]="banner_image" [alt]="banner_image_description">
    <h2 class="uk-margin-top">{{ banner_title }}</h2>
</section>