<landing-billboard
    title="Instrumentality"
    catchphrase="The blockchain enterprise platform">

</landing-billboard>

<landing-feature-section
    image="../../../assets/Landing/blockchain.svg"
    description="Blockchain nodes"
    title="Our blockchain is built on Hyperledger Iroha">

    <button class="uk-button" type="button"><a [routerLink]="['/landing/about']">Read more about Iroha</a></button>

</landing-feature-section>

<landing-feature-section
    image="../../../assets/Landing/planet.svg"
    description="Planet"
    title="Join our free world for open ideas">

    <button class="uk-button" type="button"><a href="https://codeberg.org/instrumentality-foundation" target="_blank">Take a peek at our code</a></button>

</landing-feature-section>

<landing-feature-section
    image="../../../assets/Landing/framework.svg"
    description="Flow of the platform"
    title="Quantifying work experience one block at a time">

    <button class="uk-button" type="button"><a href="#signup_modal" uk-toggle>Join us now</a></button>
    
</landing-feature-section>