@import '../../../theme.less';

button {
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .2em;
    color: @dark-background;
    background-color: @brand-lighter;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 50, 320, 3840);
}

a {
    text-decoration: none;
    color: @dark-background;
}