<landing-billboard
    title="Powerful features"
    catchphrase="Get to know some Instrumentality concepts">

</landing-billboard>

<landing-infopanel
    image="../../../assets/Landing/iroha.svg"
    description="Iroha node in a network"
    title="Discover Hyperledger Iroha"
    catchphrase="Get an overview of our blockchain system">
    
</landing-infopanel>

<section class="uk-section uk-flex uk-flex-column uk-text-center">
    <div id="block1" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
        <img src="../../../assets/Landing/keys.svg" alt="Iroha node providing keys">
        <h3>1. Private Keys: Freedom and responsability</h3>
        <p>
            When you register on the blockchain, Instrumentality generates a pair of keys and sends it to you.
            Keep your keys safe as they will be needed for authentication. Having the private keys means that you
            are solely responsible for your account.
        </p>
    </div>
    <div id="block2" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
        <img src="../../../assets/Landing/blockchain.svg" alt="Iroha node providing keys">
        <h3>2. Fast and Secure Consensus</h3>
        <p>
            Consensus is a mechanism used to make sure that different nodes see exactly the same thing when looking at the
            distributed ledger. Due to <span>Iroha's</span> YAC algorithm, transactions are fast and malicious nodes can't
            modify the ledger.
        </p>
    </div>
    <div id="block3" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
        <img src="../../../assets/Landing/profile.svg" alt="Iroha node providing keys">
        <h3>3. Trustworthy profile</h3>
        <p>
            It's always been hard for people to prove their programming skills and for employers to trust a simple piece of paper.
            A blockchain solution benefits the developer by recording, in an immutable manner, his skill development and helps employers
            by offering them data from trustworthy sources, data which can't be manipulated.
        </p>
    </div>
</section>

<landing-infopanel
    image="../../../assets/Landing/planet.svg"
    description="Planet"
    title="Discover Free Software"
    catchphrase="We steer away from porprietary models">
    
</landing-infopanel>

<section id="free-software-section" class="uk-section uk-flex uk-felx-row uk-flex-around uk-text-center">
    <div id="block4" class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <img src="../../../assets/Landing/free-planet.svg" alt="Another planet">
        <h3>Software that respects you</h3>
        <p>
            Instrumentality is not just open-source, it is free(as in freedom) software that respects
            your privacy and your rights as a user. Come joins us in creating awesome free software
            products.
        </p>
        <a href="">Contribute to our projects</a>
    </div>

    <div id="block5" class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <img src="../../../assets/Landing/shield.svg" alt="Another planet">
        <h3>Security in the open</h3>
        <p>
            As we've seen with multiple big products, security in the darkness does not work for anyone.
            That's why all our code is out in the open. The strength of our security lays in the code itself
            not in your inability to see the it.
        </p>
        <a href="https://codeberg.org/instrumentality-foundation" target="_blank">Take a peek</a>
    </div>
</section>