@import '../../../theme.less';

#block1, #block2, #block3, #block4, #block5 {
    padding: 1em;
    
    img {
        max-height: 35vh;
    }

    h3 {
        .fluid-font(1.5, 30, 320, 3840);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: @brand-lighter;
    }

    p {
        .fluid-font(1, 20, 320, 3840);
        font-family: 'Lato', sans-serif;
        color: @text-color;
    }

    a {
        color: @dark-background;
        font-family: 'Lato', sans-serif;
        padding: .5em;
        font-weight: 700;
        border-radius: .2em;
        .fluid-font(1,20,320,3840);
        background-color: @brand-lighter;
        text-decoration: none;
    }
}

@media only screen and(max-width: 960px) {
    #free-software-section {
        flex-direction: column;
        
        div {
            margin-top: 5em;
        }

    }
}