<section class="uk-section uk-padding uk-child-width-1-2@m" uk-grid>
    <core-job-card *ngFor="let job of jobs; let i = index;" [job]="job" [card_modal_id]="'job-modal-' + i"></core-job-card>
</section>