@import "../../../theme.less";

input {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 30, 320, 3840);
    color: @brand-lighter;
    background-color: @dark-background;
    border-width: 2px;
    border-color: @brand-color;
    border-radius: .2em;

    &::placeholder {
        color: @brand-lighter;
    }

    &:focus {
        color: @brand-lighter;
        background-color: @dark-background;
        border-color: @brand-red;
    }
}

ul.uk-list {
    li {
        background-color: lighten(@dark-background, 3%);
        color: @text-color;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.2, 40, 320, 3840);
    }
}