<section class="uk-container uk-container-medium uk-flex uk-flex-column">
    <input [(ngModel)]="searchText" type="text" class="uk-input uk-margin-large-bottom" placeholder="Find a specific skill">
    <ul class="uk-list">
        <li class="uk-padding-small uk-text-center uk-margin-bottom" *ngFor="let skill of wallet | walletFilter: searchText">{{ skill.name }} -- {{ skill.balance }}</li>
    </ul>
</section>