<section class="uk-section uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center">

    <img id="profile_image" src="../../../assets/Developer/avatar.svg" alt="Avatar" #profile_image>
    <h2>{{ account_id }}</h2>
    <h3 id="company-name" *ngIf="edit_company_name != ''">{{edit_company_name}}</h3>
    <button id="edit-button" class="uk-button" uk-toggle="target: #profile-edit-modal">
        <fa-icon [icon]="faPencilAlt" class="uk-mergin-small-right"></fa-icon>
        Edit Info
    </button>

</section>

<core-modal modal_id="profile-edit-modal" modal_title="Edit your personal info">

    <!-- Slot for modal body -->
    <div slot="modal_body">
        <div class="uk-inline uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <img id="modal_profile" (click)="changeProfilePicture()" src="../../../assets/Developer/avatar_darkened.svg" alt="Avatar" #modal_profile>
            <div (click)="changeProfilePicture()" class="uk-overlay uk-position-center uk-light">
                <fa-icon [icon]="faCameraRetro" size="3x"></fa-icon>
            </div>
        </div>
        <form>
            <div id="fs-name" class="uk-flex uk-flex-around">
                <div class="uk-margin uk-flex uk-flex-column">
                    <label for="edit_company_name">Full company name</label>
                    <input [(ngModel)]="edit_company_name" id="edit_company_name" name="edit_company_name" class="uk-input" type="text" placeholder="Full company name">
                </div>
            </div>
        </form>
    </div>

    <div slot="modal_footer" class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <button id="save_button" (click)="setInfo()" class="uk-button" #save_button>Save info</button>
        <div id="save_spinner" uk-spinner="ratio: 2" #save_spinner></div>
    </div>

</core-modal>

<company-command-panel></company-command-panel>