<div id="task-container" class="uk-box-shadow-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-bottom uk-margin-auto">

    <div id="task-banner" class="uk-flex uk-flex-row uk-flex-middle uk-flex-center" attr.uk-toggle="target: #task-modal-{{task.id}}">
        <h3 class="uk-margin-remove-bottom">{{ task.content }}</h3>

        <!-- Displaying task difficulty -->
        <span *ngIf="task.difficulty == 3" class="task-hard uk-margin-small-left uk-label">Hard</span>
        <span *ngIf="task.difficulty == 2" class="task-medium uk-margin-small-left uk-label">Medium</span>
        <span *ngIf="task.difficulty == 1" class="task-easy uk-margin-small-left uk-label">Easy</span>
    </div>

    <div id="task-modal-{{task.id}}" class="uk-modal-container" uk-modal>

        <div class="uk-modal-dialog uk-margin-auto-vertical">
            <button class="uk-modal-close-outside uk-close-large" uk-close type="button"></button>

            <!-- Modal header -->
            <div class="uk-modal-header uk-flex uk-flex-center uk-flex-middle">
                <h3 class="uk-text-center uk-margin-remove-bottom">{{ task.content }}</h3>
                <!-- Displaying task difficulty -->
                <span *ngIf="task.difficulty == 3" class="task-hard uk-margin-small-left uk-label">Hard</span>
                <span *ngIf="task.difficulty == 2" class="task-medium uk-margin-small-left uk-label">Medium</span>
                <span *ngIf="task.difficulty == 1" class="task-easy uk-margin-small-left uk-label">Easy</span>
            </div>

            <!-- Modal body -->
            <div class="uk-modal-body uk-flex uk-flex-column uk-flex-middle">
                <!-- Task description -->
                <div *ngIf="task.description != null" class="uk-text-center">
                    <em>"{{ task.description }}"</em>
                </div>

                <!-- Skill list -->
                <div id="task-skill-list" class="uk-flex uk-flex-row uk-flex-middle uk-flex-right uk-width-expand">
                    <h4 class="uk-margin-remove-bottom">Rewarded skills: </h4>
                    <span *ngFor="let skill of task.skills; index as i" class="uk-margin-small-left uk-label skill" [style.background-color]="this.colors[i]">{{ skill.name }}</span>
                </div>

                <!-- Subtasks list -->
                <div id="task-subtask-list" *ngIf="task.subtasks != null" class="uk-flex uk-flex-column uk-flex-center uk-flex-left">
                    <hr class="uk-divider-icon uk-margin-medium-top">
                    <h4 class="uk-margin-small-top uk-margin-bottom">Subtasks:</h4>
                    <!-- Actual subtask content -->
                    <div *ngFor="let subtask of task.subtasks; index as i" class="uk-flex uk-flex-row uk-margin-small-top uk-flex-middle">
                        <input (click)="toggleSubtask($event, subtask.id)" id="{{ task.id }}-sub-{{ subtask.id }}" type="checkbox" class="uk-checkbox uk-margin-remove-top">
                        <h5 class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-left">{{ subtask.content }}</h5>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>