<section class="uk-section uk-section-large uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-text-center">

    <img src="../../../assets/Developer/avatar.svg" alt="Profile picture" #dev_photo>
    <h2>{{ dev.firstname }} {{ dev.surname }} ({{ developer_id }})</h2>
    <div class="uk-flex-center" uk-grid>
        <p><span><fa-icon class="uk-margin-small-right" [icon]="faMobile" [styles]="{ 'color': '#EF9FA4' }" size="lg"></fa-icon>Phone number:</span> {{ dev.phone }}</p>
        <p><span><fa-icon class="uk-margin-small-right" [icon]="faEnvelope" [styles]="{ 'color': '#EF9FA4' }" size="lg"></fa-icon>Email:</span> {{ dev.email }}</p>
        <p><span><fa-icon class="uk-margin-small-right" [icon]="faMapMarkerAlt" [styles]="{ 'color': '#EF9FA4' }" size="lg"></fa-icon>City:</span> {{ dev.city }}</p>
        <p><span><fa-icon class="uk-margin-small-right" [icon]="faGraduationCap" [styles]="{ 'color': '#EF9FA4' }" size="lg"></fa-icon>Studies:</span> {{ dev.study }}</p>
    </div>
    <div class="uk-margin-top">
        <h3>Top 5 skills</h3>
        <div class="uk-flex-center" uk-grid>
            <span *ngFor="let skill of wallet; index as i;" [style.color]="skill_colors[i]">{{ skill.name }} -- {{ skill.balance }}</span>
        </div>
    </div>
    <div class="uk-margin-top" id="quill_editor">

    </div>
    <button class="uk-button uk-margin-top" uk-toggle="target: #jobs_modal">Hire developer</button>

</section>

<div id="jobs_modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-flex uk-flex-column uk-flex-center uk-flex-middle">
        <button class="uk-modal-close-default uk-close-large" uk-close></button>
        <h2>Select job</h2>
        <div id="hire_spinner" uk-spinner="ratio: 3" #hire_spinner></div>
        <button class="uk-button" *ngFor="let job of jobs;" (click)="hire(job._id)">{{ job.name }}</button>
    </div>
</div>