@import "../../../theme.less";

img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    object-fit: cover;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    .fluid-font(1.5, 50, 320, 3840);
    color: @brand-color;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.5, 50, 320, 3840);
    color: @brand-color;
}

span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 30, 320, 3840);
}

p {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 25, 320, 3840);
    color: @text-color;

    span {
        color: @brand-color;
    }
}

#quill_editor {
    margin: 3em
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 25, 320, 3840);
    color: @dark-background;
    background-color: @brand-lighter;
    padding: .5em .2em .5em .2em;
    border-radius: .2em;
}

.uk-modal-dialog {
    background-color: @dark-background;

    .uk-modal-close-default {
        background-color: transparent;
        color: @brand-color;
    }

    button {
        background-color: @brand-blue;
    }
}

#hire_spinner {
    display: none;
    color: @brand-blue;
}

@media only screen and (min-width: 960px) {
    img {
        width: 500px;
        height: 500px;
    }
}