<core-image-banner
    banner_image="../../assets/Company/hiring.svg"
    banner_image_description="Resume section"
    banner_title="Hiring and job management">

</core-image-banner>

<!-- Section of job management commands -->
<section class="uk-section uk-section-large uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <div id="new_job_card" class="uk-card uk-card-default uk-flex uk-margin">
        <div class="uk-card-media-left uk-flex">
            <img src="../../../assets/Company/new_job.svg" alt="Job sign">
        </div>
        <div class="uk-card-body uk-flex uk-flex-column uk-flex-center">
            <h3>Create a new job offering</h3>
            <p>This command will create a new public job. All developers will be able to see and aply to this job.</p>
            <button class="uk-button" type="button" uk-toggle="target: #new_job_modal;" #new_job_button>Create a new job</button>
        </div>
    </div>
</section>

<core-image-banner
    banner_image="../../assets/Company/task_management.svg"
    banner_image_description="Tasks section"
    banner_title="Task management">

</core-image-banner>

<!-- Section of task management commands -->
<section class="uk-section uk-section-large uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <div id="new_job_card" class="uk-card uk-card-default uk-flex uk-margin">
        <div class="uk-card-media-right uk-flex uk-flex-last@s">
            <img src="../../../assets/Company/new_task.svg" alt="Job sign">
        </div>
        <div class="uk-card-body uk-flex uk-flex-column uk-flex-center">
            <h3>Create and assign new task</h3>
            <p>This command will create a new task and assign a developer to it. The assigned developer will receive the blockchain rewards.</p>
            <button id="new_task_button" class="uk-button" type="button" uk-toggle="target: #new_task_modal;" #new_task_button>Create a new task</button>
        </div>
    </div>
</section>

<!------------------------------->
<!-- Modals for job management -->
<!------------------------------->
<div id="new_job_modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog" uk-overflow-auto>
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-section uk-flex uk-flex-column uk-flex-middle uk-text-center">
            <h3>General details about the job</h3>
        </div>
        <!-- General job details form -->
        <div class="uk-flex uk-flex-middle uk-flex-center uk-padding">
            <form uk-grid>
                <div class="uk-width-1-1">
                    <input [(ngModel)]="job_name" class="uk-input uk-text-center" type="text" name="job_name" id="job_name" placeholder="Job name">
                </div>
                <div class="uk-width-1-1">
                    <div class="" id="quill_editor" #quill_container></div>
                </div>
                <div class="uk-width-1-4@m">
                    <input [(ngModel)]="job_studies" class="uk-input uk-text-center" name="job_studies" id="job_studies" type="text" placeholder="Required study levels">
                </div>
                <div class="uk-width-1-4@m">
                    <input [(ngModel)]="job_city" class="uk-input uk-text-center" name="job_city" id="job_city" type="text" placeholder="City">
                </div>
                <div class="uk-width-1-4@m">
                    <select class="uk-select uk-text-center" name="job_type" id="job_type" #job_type_edit>
                        <option value="" selected hidden disabled>Choose job type</option>
                        <option class="uk-text-center" *ngFor="let type of job_types" [value]="type.value">{{ type.value }}</option>
                    </select>
                </div>
                <div class="uk-width-1-4@m">
                    <input [(ngModel)]="job_salary" class="uk-input uk-text-center" type="number" name="job_salary" id="job_salary" placeholder="Salary">
                </div>
            </form>
        </div>
        <div class="uk-section uk-flex uk-flex-column uk-flex-middle uk-text-center">
            <h3>Skill requirements</h3>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-center">
            <form uk-grid #skill_list>
                <div class="uk-width-1-1 uk-flex uk-flex-center">
                    <button (click)="addSkill()" class="uk-button" type="button">Add new required skill
                        <fa-icon [icon]="faCode" [styles]="{ 'color': '#1B2021' }" size="lg" class="uk-margin-small-left"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-large-bottom uk-margin-large">
            <input [(ngModel)]="private_key" style="width: 50%;" name="private_key" class="uk-input uk-margin-right" type="password" placeholder="Private key">
            <button (click)="publishJob()" class="uk-button" type="button" #publish_button>Publish new job</button>
            <div id="publish_spinner" uk-spinner="ratio: 2" #publish_spinner></div>
        </div>
    </div>
</div>

<!----------------------------->
<!-- Modal for task creation -->
<!----------------------------->
<div id="new_task_modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-center">Create a new task</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-margin-auto uk-margin-large-bottom" uk-grid>
                <input [(ngModel)]="new_task_title" type="text" class="uk-input uk-width-1-1 uk-text-center" name="new_task_title" placeholder="Task name">
                <div class="uk-width-1-1 uk-padding-remove uk-margin-auto uk-flex uk-flex-middle uk-flex-around" uk-grid>
                    <select class="uk-select" name="new_task_difficulty" id="new_task_difficulty" #new_task_difficulty>
                        <option value="" selected hidden disabled>Choose difficulty</option>
                        <option style="color: #70B77E;" value="Easy">Easy</option>
                        <option style="color: #f1ef72;" value="Medium">Medium</option>
                        <option style="color: #e2737b;" value="Hard">Hard</option>
                    </select>
                    <select class="uk-select" name="new_task_asignee" id="new_task_asignee" #new_task_asignee>
                        <option value="" selected hidden disabled>Asign task to...</option>
                        <option class="uk-text-center" *ngFor="let employee of employees" [value]="employee._id">{{ employee._id }}</option>
                    </select>
                </div>
                <div id="new_task_skills" class="uk-width-1-1 uk-padding-remove uk-margin-auto uk-flex uk-flex-middle uk-flex-center" uk-grid #new_task_skills>
                    <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-padding-remove">
                        <button (click)="addNewTaskSkill()" class="uk-button" type="button">Add new required skill
                            <fa-icon [icon]="faCode" [styles]="{ 'color': '#1B2021' }" size="lg" class="uk-margin-small-left"></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
            <div id="new_task_quill_editor">

            </div>
        </div>
        <div class="uk-modal-footer uk-flex uk-flex-center uk-flex-middle uk-flex-column">
            <input style="width: 50%;" [(ngModel)]="private_key" type="password" class="uk-input uk-margin-bottom" placeholder="Private key">
            <div uk-spinner="ratio: 2" #new_task_spinner></div>
            <button (click)="createTask()" class="uk-button" type="button" #create_task_button>Create task</button>
        </div>
    </div>
</div>