@import "../../../theme.less";

.uk-card {
    background-color: lighten(@dark-background, 3%);
    margin: 1em;
}

.uk-card-body {
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.5, 50, 320, 3840);
        color: @text-color;
    }

    p {
        font-family: 'Lato', sans-serif;
        .fluid-font(1, 30, 320, 3840);
        color: @text-color;
    }

    button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 30, 320, 3840);
        color: @dark-background;
        background-color: @brand-color;
        padding-top: .3em;
        padding-bottom: .3em;
        border-radius: .2em;
        width: fit-content;
    }
}

.uk-modal-dialog {
    background-color: @dark-background;

    .uk-modal-close-full {
        background-color: transparent;
        color: @brand-lighter;
    }

    .uk-modal-close-full:hover {
        color: @brand-color;
    }

    form {
        width: 100%;
    }

    h3 {
        color: @brand-lighter;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.5, 50, 320, 3840);
    }

    input, select {
        font-family: 'Lato', sans-serif;
        .fluid-font(1.2, 20, 320, 3840);
        background-color: lighten(@dark-background, 3%);
        color: @brand-lighter;
        border-radius: .2em;
        border-width: 2px;
        border-color: @brand-color;
        padding: 0;

        &::placeholder {
            color: fade(@text-color, 70%);
        }
    }

    select option {
        font-family: 'Lato', sans-serif;
        .fluid-font(.8, 10, 320, 3840);
        background-color: lighten(@dark-background, 3%);
        color: @brand-lighter;
    }

    button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 10, 320, 3840);
        border-radius: .2em;
        padding-top: .3em;
        padding-bottom: .3em;
        background-color: @brand-color;
        color: @dark-background;
    }

    #publish_spinner {
        color: @brand-color;
        display: none;
    }
}

.uk-modal-header {
    background-color: @dark-background;

    .uk-modal-title {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1.5, 50, 320, 3840);
        color: @brand-lighter;
    }
}

.uk-modal-body {
    select {
        width: 45%;
    }
}
    
.uk-modal-footer {
    background-color: @dark-background;

    .uk-icon {
        color: @brand-color;
        display: none;
    }
}

#quill_editor, #new_task_quill_editor {
    height: 500px;
    color: @text-color;
    font-family: 'Lato', sans-serif;
    .fluid-font(.8, 25, 320, 3840);
}

#new_task_button {
    background-color: @brand-green;
}

@media only screen and (max-width: 960px) {
    .uk-card {
        flex-direction: column;
    }

    .uk-modal-body {
        select {
            width: 100%;
            justify-self: center;
        }
    }
}