<!-- Sticky component will keep the navbar on top -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <!-- Actual navbar -->
    <nav class="uk-navbar-container" uk-navbar>

        <!-- Left side of navbar visible only on larger devices -->
        <div class="uk-visible@m uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a [routerLink]="['jobs']">Jobs</a>
                </li>
                <li>
                    <a [routerLink]="['wallet']">My skills</a>
                </li>
            </ul>
        </div>

        <!-- Left side of navbar visible on smaller devices -->
        <div class="uk-hidden@m uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#mobile-navbar" uk-toggle>
                        <fa-icon [icon]="faBars" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Center of the navbar -->
        <div class="uk-navbar-center">
            <a [routerLink]="['./']" class="uk-navbar-item uk-logo">
                <img src="../../../assets/instrumentality-new.svg" alt="The Instrumentality Logo" width="42px" height="42px">
            </a>
        </div>

        <!-- Right side of the screen -->
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a coreTokenDestroyer [routerLink]="['/']">
                        <fa-icon [icon]="faSignOutAlt" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>
                        Logout
                    </a>
                </li>
            </ul>
        </div>

    </nav>

</div>

<!---------------------------------------------------->
<!-- Offcanvas navbar definition for mobile devices -->
<!---------------------------------------------------->

<div id="mobile-navbar" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li>
                <a [routerLink]="['jobs']">Jobs</a>
            </li>
            <li>
                <a [routerLink]="['wallet']">My skills</a>
            </li>
        </ul>
    </div>
</div>