@import "../../../../theme.less";

.uk-modal-header {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.uk-modal-footer {
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

.uk-modal-dialog, .uk-modal-header, .uk-modal-footer {
    background-color: @dark-background;
}

.uk-modal-header h3 {
    color: @text-color;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.5, 25, 320, 3840);
}
