<!--------------------------------------->
<!-- Generic implementation of a modal -->
<!--------------------------------------->

<div [id]="modal_id" uk-modal>

    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default uk-close-large uk-visible@m" type="button" uk-close></button>
        <button class="uk-modal-close-default uk-hidden@m" type="button" uk-close></button>

        <!-- Modal header definition -->
        <div class="uk-modal-header">
            <h3 class="uk-modal-title uk-text-center">{{modal_title}}</h3>
            <ng-content select="[slot=modal-header]"></ng-content>
        </div>

        <!-- Modal body definition -->
        <div class="uk-modal-body">
            <ng-content select="[slot=modal_body]"></ng-content>
        </div>
   
        <!-- Modal footer definition -->
        <div class="uk-modal-footer">
            <ng-content select="[slot=modal_footer]"></ng-content>
        </div>

    </div>

</div>