<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-flex-middle" uk-grid>
            <div class="uk-width-auto@s">
                <img width="80px" height="80px" src="../../../../assets/Orchestrator/company.svg" alt="The company logo" #company_logo>
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ job.name }}</h3>
                <p *ngIf="company_name != ''; else company_name_alt" class="uk-margin-remove-top uk-margin-remove-bottom">From {{ company_name }}</p>
                <ng-template #company_name_alt class="uk-margin-remove-top uk-margin-remove-bottom"><p>From {{ domain }}</p></ng-template>
                <p class="uk-margin-remove-top">{{ job.city }} - {{ job.type }}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p class="uk-text-truncate">{{ job_text }}</p>
    </div>
    <div class="uk-card-footer uk-flex uk-flex-middle uk-flex-center uk-padding-remove">
        <a class="uk-text-center uk-padding-small" [href]="'#' + card_modal_id" uk-toggle>View job details</a>
    </div>
</div>

<div [id]="card_modal_id" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{ job.name }}</h2>
            <div class="uk-child-width-1-2@s" uk-grid>
                <p class="uk-margin-top" *ngIf="company_name != ''; else company_name_alt"><fa-icon [icon]="faBuilding" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Offered by: {{ company_name }}</p>
                <ng-template #company_name_alt><p class="uk-margin-top"><fa-icon [icon]="faBuilding" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Offered by: {{ domain }}</p></ng-template>
                <p class="uk-margin-top"><fa-icon [icon]="faMapMarkerAlt" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Location: {{ job.city }}</p>
                <p class="uk-margin-top"><fa-icon [icon]="faUniversity" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Required studies: {{ job.study }}</p>
                <p class="uk-margin-top"><fa-icon [icon]="faBusinessTime" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Job Type: {{ job.type }}</p>
                <p class="uk-margin-top"><fa-icon [icon]="faMoneyBill" [styles]="{ 'color': '#EF9FA4' }" size="lg" class="uk-margin-small-right"></fa-icon>Salary: {{ job.salary }}</p>
            </div>
            <div class="uk-flex-center uk-flex-middle" uk-grid>
                <p class="uk-padding-small uk-margin-right skill-tag" *ngFor="let skill of job.skills; let i = index;" [style.background-color]="colors[i]">{{skill}} - {{job.skill_levels[i]}}</p>
            </div>
        </div>
        <div class="uk-modal-body">
            <div [id]="'quill_editor_' + card_modal_id"></div>
        </div>
        <div class="uk-modal-footer uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <button (click)="applyForJob()" class="uk-button uk-modal-close" type="button">Apply for job</button>
            <p>*Clicking apply means that you agree to make your profile accessible to this company</p>
        </div>
    </div>
</div>