@import "../../../theme.less";

/**************************/
/* Authentication modals */
/************************/

.modal-avatar{
    height: 25vh;
}

.uk-form-label {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 12, 320, 3840);
    color: @brand-lighter;
}

.uk-input {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 12, 320, 3840);
    border-radius: .3em;
    border: 2px solid @brand-color;
    padding: .75em;
    color: @brand-lighter;
    background-color: lighten(@dark-background, 3%);
}

.footer-content {
    a {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 15, 320, 3840);
        color: @brand-blue;
    }

    button.uk-button {
        width: 50%;
        padding-top: .3em;
        padding-bottom: .3em;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        .fluid-font(1, 20, 320, 3840);
        color: @dark-background;
        background-color: @brand-blue;
        border-radius: .2em;
    }

    .uk-icon {
        display: none;
        color: @brand-blue;
    }
}