<!----------------------->
<!-- Navbar definition -->
<!----------------------->


<!-- Sticky component makes navbar stick to the top of the screen as you scroll down -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <!-- Navbar component declaration -->
    <nav class="uk-navbar-container" uk-navbar>
        
        <!-- Left navbar content -->
        <div class="uk-navbar-left">
            <a [routerLink]="['/']" class="uk-navbar-item uk-logo">
                <img src="../../../assets/instrumentality-new.svg" alt="Instrumentality logo" width="42px" height="42px">
                <span class="uk-margin-small-left">Instrumentality</span>
            </a>
        </div>

        <!-- Center navbar content: visible only on larger devices -->
        <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a [routerLink]="['about']" routerLinkActive="active">About the project</a></li>
                <li><a href="">For developers</a></li>
            </ul>
        </div>

        <!-- Right navbar content: visible on larger devices -->
        <div class="uk-navbar-right uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a href="#login_modal" uk-toggle>Login</a></li>
                <li><a href="#signup_modal" uk-toggle>Signup</a></li>
            </ul>
        </div>

        <!-- Right navbar content: visible on mobile devices -->
        <div class="uk-navbar-right uk-hidden@m">
            <button class="uk-button uk-navbar-item" type="button" uk-toggle="target: #mobile-nav">
                <fa-icon [icon]="faBars" [styles]="{ 'color': '#F7BFBE' }" size="lg"></fa-icon>
            </button>
        </div>

    </nav>
</div>

<!---------------------------------------------------->
<!-- Offcanvas navbar definition for mobile devices -->
<!---------------------------------------------------->

<div id="mobile-nav" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li><a [routerLink]="['about']" routerLinkActive="active">About the project</a></li>
            <li><a href="">For developers</a></li>

            <hr class="uk-divider" />

            <li><a href="#login_modal" uk-toggle>Login</a></li>
            <li><a href="#signup_modal" uk-toggle>Signup</a></li>
        </ul>
    </div>
</div>

<!--------------------------->
<!-- Authentication modals -->
<!--------------------------->

<!-- Login modal -->
<core-modal modal_id="login_modal" modal_title="Welcome back!">

    <!-- Modal body slot content -->
    <div class="uk-flex uk-flex-column uk-flex-center" slot="modal_body">
        <img class="modal-avatar" src="../../../assets/Landing/vault.svg" alt="A safebox">
        <form class="uk-form-stacked">
            <!-- Username input -->
            <div class="uk-margin">
                <label for="login_user" class="uk-form-label">Username (user@domain)</label>
                <div class="uk-form-controls">
                    <input [(ngModel)]="login_user" type="text" name="login_user" id="login_user" class="uk-input uk-text-center" placeholder="Enter your username">
                </div>
            </div>

            <!-- Private key input -->
            <div class="uk-margin">
                <label for="login_key" class="uk-form-label">Private key</label>
                <div class="uk-form-controls">
                    <input [(ngModel)]="login_key" type="password" name="login_key" id="login_key" class="uk-input uk-text-center" placeholder="Enter your private key">
                </div>
            </div>
        </form>
    </div>

    <!-- Modal footer slot content -->
    <div class="footer-content uk-flex uk-flex-column uk-flex-center uk-flex-middle" slot="modal_footer">
        <button (click)="login()" id="login_button" class="uk-button uk-text-center uk-modal-close uk-margin" #login_button>Log In</button>
        <div id="login_spinner" uk-spinner="ratio: 2" #login_spinner></div>
        <a href="#signup_modal" uk-toggle>I don't have an account yet</a>
    </div>

</core-modal>

<!-- Signup modal -->
<core-modal modal_id="signup_modal" modal_title="Get your developer ID">

    <!-- Modal body content -->
    <div class="uk-flex uk-flex-column uk-flex-center" slot="modal_body">
        <img class="modal-avatar" src="../../../assets/Landing/id.svg" alt="An id badge">
        <form class="uk-form-stacked">
            <div class="uk-margin">
                <label for="signup_user" class="uk-form-label">Username</label>
                <div class="uk-form-controls">
                    <input [(ngModel)]="signup_user" type="text" name="signup_user" id="signup_user" class="uk-input uk-text-center" placeholder="Enter a cool username">
                </div>
            </div>
        </form>
    </div>

    <!-- Modal footer content -->
    <div class="footer-content uk-flex uk-flex-column uk-flex-center uk-flex-middle" slot="modal_footer">
        <button (click)="register($event)" id="signup_button" class="uk-button uk-text-center uk-margin-bottom" #signup_button>Sign Up</button>
        <div id="signup_spinner" uk-spinner="ratio: 2" #signup_spinner></div>
        <a href="#login_modal" uk-toggle>I already have an account</a>
    </div>

</core-modal>