@import '../../../theme.less';

#full-name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.4, 40, 320, 3840);
    margin-top: 0;
    color: @text-color;
}

#extra-info input {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 20, 320, 3840);
    background-color: @dark-background;
    color: @brand-lighter;
    width: 80%;
    border-width: 2px;
    border-color: @brand-color;
    border-radius: .2em;
}