<section class="uk-section uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center">

    <img id="profile_image" src="../../../assets/Developer/avatar.svg" alt="Avatar" #profile_image>
    <h2>{{ account_id }}</h2>
    <h3 id="full-name" *ngIf="edit_fname != '' || edit_sname != ''">{{edit_fname}} {{edit_sname}}</h3>
    <button id="edit-button" class="uk-button" uk-toggle="target: #profile-edit-modal">
        <fa-icon [icon]="faPencilAlt" class="uk-mergin-small-right"></fa-icon>
        Edit Info
    </button>

</section>

<section>
    <div *ngFor="let task of tasks; index as i;" class="uk-container uk-container-medium">
        <core-task [task]="task" [task_modal_id]="'task-modal-' + i"></core-task>
    </div>
</section>

<core-modal modal_id="profile-edit-modal" modal_title="Edit your personal info">

    <!-- Slot for modal body -->
    <div slot="modal_body">
        <div class="uk-inline uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <img id="modal_profile" (click)="changeProfilePicture()" src="../../../assets/Developer/avatar_darkened.svg" alt="Avatar" #modal_profile>
            <div (click)="changeProfilePicture()" class="uk-overlay uk-position-center uk-light">
                <fa-icon [icon]="faCameraRetro" size="3x"></fa-icon>
            </div>
        </div>
        <form class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-bottom">
            <div id="fs-name" class="uk-flex uk-flex-around">
                <div class="uk-margin uk-flex uk-flex-column">
                    <label for="edit_fname">First name</label>
                    <input [(ngModel)]="edit_fname" id="edit_fname" name="edit_fname" class="uk-input" type="text" placeholder="First name">
                </div>
                <div class="uk-marigin uk-flex uk-flex-column">
                    <label for="edit_sname">Surname</label>
                    <input [(ngModel)]="edit_sname" id="edit_sname" name="edit_sname" class="uk-input" type="text" placeholder="Last name">
                </div>
            </div>
            <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-top" id="extra-info" uk-grid>
                <input type="tel" [(ngModel)]="edit_phone" id="edit_phone" name="edit_phone" class="uk-input" placeholder="Phone number">
                <input type="email" [(ngModel)]="edit_email" id="edit_email" name="edit_email" class="uk-input" placeholder="Email">
                <input type="text" [(ngModel)]="edit_city" id="edit_city" name="edit_city" class="uk-input" placeholder="City">
                <input type="text" [(ngModel)]="edit_study" id="edit_study" name="edit_study" class="uk-input" placeholder="Highest level of education">
            </div>
        </form>
        <div id="quill_editor">

        </div>
    </div>

    <div slot="modal_footer" class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <button id="save_button" (click)="setInfo()" class="uk-button" #save_button>Save info</button>
        <div id="save_spinner" uk-spinner="ratio: 2" #save_spinner></div>
    </div>

</core-modal>