@import '../../../theme.less';

section {
    background-color: lighten(@dark-background, 3%);
}

img {
    max-height: 80vh;
}

h2 {
    color: @text-color;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.5, 150, 320, 3840);
}

p {
    color: @text-color;
    font-family: 'Lato', sans-serif;
    .fluid-font(1.2, 75, 320, 3840)
}