<section class="uk-section uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-text-center">
    <img [src]="image" [alt]="description">
    <h2>{{ title }}</h2>
    <p>{{ catchphrase }}</p>
</section>