<section class="uk-section uk-padding uk-section-large uk-flex uk-flex-middle uk-flex-center uk-grid-match uk-flex-row uk-child-width-1-4@m" uk-grid>

    <!-- Company Card -->
    <core-card
        id="company-card"
        card_title="Register Company"
        card_image="../../../assets/Orchestrator/company.svg"
        card_image_description="An office building"
        card_button="Edit command"
        card_detail="Create a new company on the blockchain">

        <div slot="back_card_body">
            <input [(ngModel)]="companyName" type="text" class="uk-input" name="companyName" id="companyName" placeholder="Company name">
        </div>

        <div class="back_card_footer" slot="back_card_footer">
            <button (click)="registerCompany()" name="company_button" class="uk-button" type="button" #company_button>Send</button>
            <div uk-spinner="ratio: 2" #company_spinner></div>
        </div>

    </core-card>
    <!---------------------------->

    <!-- Asset issuing card -->
    <core-card
        id="new-asset-card"
        card_title="Create New Asset"
        card_image="../../../assets/Orchestrator/new_asset.svg"
        card_image_description="Money"
        card_button="Edit command"
        card_detail="Creates a new asset on instrumentality domain">

        <div slot="back_card_body">
            <input [(ngModel)]="assetName" type="text" class="uk-input" name="assetName" id="assetName" placeholder="Asset name">
        </div>

        <div class="back_card_footer" slot="back_card_footer">
            <button (click)="createAsset()" name="new_asset_button" class="uk-button" type="button" #new_asset_button>Send</button>
            <div uk-spinner="ratio: 2" #new_asset_spinner></div>
        </div>

    </core-card>
    <!---------------------------------->

    <!-- Asset quantity minting card -->
    <core-card
        id="mint_asset-card"
        card_title="Issue Asset Amount"
        card_image="../../../assets/Orchestrator/mint_asset.svg"
        card_image_description="Hand holding coins"
        card_button="Edit command"
        card_detail="Issue a new amount of a specified asset">

        <div slot="back_card_body">
            <input [(ngModel)]="mint_asset_name" type="text" class="uk-input" name="mint_asset_name" id="mint_asset_name" placeholder="Asset name">
            <input [(ngModel)]="mint_asset_amount" type="number" class="uk-input uk-margin-top" name="mint_asset_amount" id="mint_asset_amount" placeholder="Amount">
        </div>

        <div class="back_card_footer" slot="back_card_footer">
            <button (click)="mintAsset()" name="mint_asset_button" class="uk-button" type="button" #mint_asset_button>Send</button>
            <div uk-spinner="ratio: 2" #mint_asset_spinner></div>
        </div>

    </core-card>
    <!----------------------------------->

</section>
