@import "../../../theme.less";

input.uk-input {
    font-family: 'Lato', sans-serif;
    border-radius: .3em;
    border: 2px solid @brand-color;
    padding: .75em;
    color: @brand-lighter;
    background-color: lighten(@dark-background, 5%);
    .fluid-font(1, 20, 320, 3840);
}

input.uk-input::placeholder {
    color: fade(@text-color, 60%);
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: @dark-background;
    .fluid-font(1, 20, 320, 3840);
    width: 100%;
    height: 100%;
    text-transform: none;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .2em;
    background-color: @brand-green;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s ease-in-out;
}

.back_card_footer {

    width: 45%;

    button.uk-button {
        height: 100%;
    }

    .uk-icon {
        color: @brand-green;
        display: none;
    }
}