/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/dist/css/uikit.min.css";
@import "../node_modules//quill/dist/quill.core.css";
@import "../node_modules//quill/dist/quill.snow.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "./theme.less";

body, html {
    background-color: #1B2021;
}

.ql-snow .ql-stroke {
    stroke: @text-color;
}

.ql-snow .ql-picker-label {
    color: @text-color;
}

.ql-editor.ql-blank::before {
    color: @brand-lighter;
}

.ql-editor {
    p, ol, ul {
        color: @text-color;
        .fluid-font(1, 10, 320, 3840);
    }

    h1, h2, h3, h4, h5, h6 {
        color: @brand-lighter;
        .fluid-font(1, 30, 320, 3840);
    }
}