/* Theme variables */
@brand-color: #EF9FA4;
@brand-lighter: #F7BFBE;
@brand-green: #A4EF9F;
@brand-blue: #8FC3FE;
@brand-red: #e2737b;
@brand-yellow: #e2c873;
@text-color: #FFEAEE;
@dark-background: #1B2021;

/* Theme utils */

.fluid-font(@min-font, @max-font, @min-screen, @max-screen) {
    font-size: calc(unit(@min-font, em) + (@max-font - @min-font) * ((100vw - unit(@min-screen, px)) / (@max-screen - @min-screen)));
}