@import "../../../../theme.less";

#task_container {
    background-color: lighten(@dark-background, 5%);
    border-radius: .5em;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1.5, 70, 320, 3840);
    color: @brand-lighter;
}

h4 {
    font-family: 'Lato', sans-serif;
    .fluid-font(1.2, 50, 320, 3840);
    color: @dark-background;
    padding: .5em .3em .5em .3em;    
}

h5 {
    font-family: 'Lato', sans-serif;
    .fluid-font(1, 30, 320, 3840);
    background-color: transparent;
    padding: .5em .3em .5em .3em;
}

.uk-badge:hover {
    color: initial;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    .fluid-font(1, 30, 320, 3840);
    color: @dark-background;
    background-color: @brand-color;
    text-transform: none;
    padding-bottom: .3em;
    padding-top: .3em;
    border-radius: .2em;
}

.uk-modal-body {
    background-color: @dark-background;

    .uk-modal-close-default {
        background-color: transparent;
        color: @brand-color;
    }
}

#done_button {
    background-color: @brand-green;
}

#done_spinner {
    color: @brand-green;
    display: none;
}

@media only screen and (max-width: 960px) {
    h3 {
        text-align: center;
    }

    .uk-flex {
        flex-direction: column;

        h4, h5 {
            margin-right: 0 !important;
        }

        h4 {
            margin-bottom: .75em !important;
        }

        h5 {
            margin-bottom: .25em !important;
        }
    }

    button {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}