<div class="uk-padding uk-margin-bottom" id="task_container">
    <h3 class="task_title">{{ task.name }}</h3>
    <div class="uk-flex uk-margin-bottom uk-text-center uk-flex-middle">
        <h4 [style.background-color]="difficulty_color" class="task_diff uk-margin-xlarge-right uk-margin-remove-top uk-margin-remove-bottom uk-badge">{{ task.difficulty }}</h4>
        <h5 class="task_skill uk-margin-remove-bottom uk-margin-remove-top uk-margin-right uk-badge" *ngFor="let skill of task.skills; index as i;" [style.color]="skill_colors[i]">{{ skill }}</h5>
    </div>
    <div class="uk-flex uk-flex-between">
        <button class="uk-button" type="button" [attr.uk-toggle]="'#' + task_modal_id">
            <fa-icon [icon]="faTasks" size="lg" ></fa-icon>
            See task details
        </button>
        <div id="done_spinner" uk-spinner="ratio: 2" #done_spinner></div>
        <button (click)="markDone()" id="done_button" class="uk-button" type="button" #done_button>
            <fa-icon [icon]="faCheckDouble" size="lg" ></fa-icon>
            Mark as done
        </button>
    </div>

    <div [id]="task_modal_id" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default uk-close-large" type="button" uk-close></button>
            <div class="uk-margin-top" [id]="task_modal_id + '-quill'"></div>
        </div>
    </div>
</div>